* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
}
#span {
  color: white;
}
.flex {
  display: flex;
}
.wrap {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.5s;
}
.header {
  line-height: 50px;
  position: sticky;
  top: 0;
}
.bar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(24, 80, 56);
  padding: 0 10%;
}
.title {
  color: white;
  font-size: 20px;
  text-align: center;
  height: 80px;
  line-height: 80px;
}
.bar input {
  border-radius: 5px;
  border: none;
  padding: 0 5px;
}
.bar input:focus {
  outline: none;
}
.childbar {
  display: flex;
}
.childbar div {
  cursor: pointer;
  padding: 0 15px;
  transition: 0.5s;
}
.childbar div a {
  text-decoration: none;
  color: white;
  display: block;
  width: 100%;
  height: 100%;
}
.active,
.childbar div:hover {
  background-color: rgb(54, 124, 95);
}
.header,
.footer {
  background-color: rgb(54, 124, 95);
}
.article {
  width: 80%;
  margin: 0 auto;
  flex: 1;
  display: flex;
}

.footer {
  line-height: 50px;
  color: white;
  text-align: right;
  padding: 0 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: sticky;
  bottom: 0;
}
.nav {
  width: 30%;
  padding: 10px;
  margin-left: 5px;
  background-color: rgb(178, 206, 209, 0.1);
}
.content {
  flex: 1;
  padding: 10px;
  background-color: rgb(178, 206, 209, 0.1);
  display: none;
}
/* :target {
  display: block;
} */
.act {
  display: block;
}
#home {
  width: 100%;
}

#home ul {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#home ul li {
  float: left;
  width: 20%;
  height: 400px;
  list-style: none;
  transition: all 0.5s;
}
#home ul li img {
  height: 100%;
}
#home ul:hover li {
  /* width: 7%; */
  width: 10%;
}
#home ul li:hover {
  /* width: 36%; */
  width: 65%;
}
.block {
  margin: 20px 0;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgb(219, 217, 217);
}
.block:hover {
  box-shadow: 1px 1px 5px rgb(168, 166, 166);
}
.block .block-content {
  flex: 1;
}
.block-title {
  font-size: 20px;
  padding: 5px;
}
.block-left {
  text-align: left;
  padding: 5px;
  margin-top: 10px;
}
.block-right {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  padding: 5px;
  font-size: 12px;
}
.block-footer {
  text-align: right;
  padding: 5px;
}
#cat img {
  display: inline;
  width: 100%;
  box-shadow: 5px 5px 5px rgb(201, 199, 199);
}
#totop {
  position: fixed;
  bottom: 80px;
  right: 12%;
  cursor: pointer;
  display: none;
  transition: 0.2s;
}
#totop:hover {
  transform: scale(1.5);
}
#totop::after {
  content: "to top";
  position: absolute;
  top: 50px;
  left: 8px;
  font-size: 12px;
}

#cw {
  position: fixed;
  z-index: -1;
}
/* 滚动条样式 */
::-webkit-scrollbar {
  width: 6px;
  height: 0px;
}
::-webkit-scrollbar-track {
  width: 6px;
  background: rgba(#101f1c, 0.1);
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(#101f1c, 0.2);
  background-clip: padding-box;
  min-height: 28px;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(#101f1c, 0.5);
}

@media screen and (max-width: 1000px) {
  .nav {
    display: none;
  }
}

#test {
  display: flex;
  position: fixed;
  top: 10px;
  right: 10%;
}

#test:hover::after {
  content: "戴上?";
  position: absolute;
  font-size: 12px;
  margin-left: 60px;
  margin-top: 50px;
  color: aliceblue;
}
#hatbox {
  width: 100px;
  height: 100px;
}
#hat {
  width: 100%;
  height: 100%;
  background: url("./static/hat.png") no-repeat;
  background-size: contain;
}
#light {
  width: 100%;
  background: url("./static/light.png") no-repeat;
  background-size: contain;
}

#tankCanvas {
  background-color: rgb(146, 135, 135);
}

#textarea {
  width: 100%;
  border: 1px solid rgb(228, 222, 222);
  opacity: 0.8;
  border-radius: 5px;
  padding: 5px;
  margin: 20px 0;
}
#textarea:focus {
  outline: none;
}
.button {
  display: inline;
  background-color: #04dcf8;
  padding: 5px;
  margin-top: 10px;
  border-radius: 2px;
  font-size: 12px;
}
.button:hover {
  cursor: pointer;
  background-color: #bbecf3;
}
.message {
  position: absolute;
  top: 20%;
  margin-left: 50%;
  background-color: rgb(134, 218, 139);
  padding: 5px 10px;
  border-radius: 5px;
  animation: appear 3s linear 1;
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
